<?xml version="1.0"?>
<configuration>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="262144">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>

  </system.web>
  <connectionStrings>
    <add name="conString" connectionString="Data Source=82.166.189.73;Initial Catalog=cegroup11Db;User ID=cegroup11;Password=cegroup11123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>